ul, li {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.nav-wrapper {
  height: 30px;
  line-height: 30px;
}
.nav-wrapper .item {
  display: inline-block;
  width: 140px;
  border: 1px solid grey;
  position: relative;
}
.nav-wrapper .item:hover {
  background: #fffaf0;
  color: blue;
}
.menu-content{
  position: absolute;
  left: 0;
  top: -99em;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
.nav-wrapper .item:hover .menu-content {
  opacity: 1;
  top: 100%;
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
